.cad_carro {
                    background-color: rgba(240, 237, 237, 0.801);
                    font-family: fantasy;
                    padding: 20px;
                    border-radius: 20px;
                }

                .botao {
                    background-color: #000099;
                    font-family: fantasy;
                    color: white;
                    border: none;
                    padding: 10px;
                    font-size: 12px;
                    border-radius: 6px;
                    cursor: pointer;
                    margin-left: 150px;
                }

                .botao:hover {
                    transform: scale(1.04);
                }

                    .saida_carro {
                    background-color: rgba(240, 237, 237, 0.801);
                    font-family: fantasy;
                    padding: 20px;
                    border-radius: 20px;
                }

                .botao_saida {
                  background-color: #000099;
                    font-family: fantasy;
                    color: white;
                    border: none;
                    padding: 10px;
                    font-size: 12px;
                    border-radius: 6px;
                    cursor: pointer;
                    margin-top: 15px;
                    margin-left: 150px;
                }

                .botao_saida:hover {
                    transform: scale(1.04);
                }
                
               

                table {
                    width: 100%;
                    border-collapse: collapse;
                    margin-top: 20px;
                    font-family: fantasy;
                }

                th, td {
                    padding: 10px;
                    border: 1px solid #ccc;
                    text-align: center;
                }

                th {
                    background-color: #f0f0f0;
                    color: #333;
                }

                tr:nth-child(even) {
                    background-color: #fdfdfd;
                }

                .Excluir a {
                    color: #e60000; /* vermelho */
                    text-decoration: none;
                    font-weight: bold;
                    transition: color 0.2s ease;
                }

                .Excluir a:hover {
                    color: #a00000;
                    text-decoration: underline;
                }