.cad_carro {
                    background-color: rgba(240, 237, 237, 0.801);
                    font-family: fantasy;
                    padding: 20px;
                    border-radius: 20px;
                }

                .botao {
                    background-color: #000099;
                    font-family: fantasy;
                    color: white;
                    border: none;
                    padding: 10px;
                    font-size: 12px;
                    border-radius: 6px;
                    cursor: pointer;
                    margin-left: 150px;
                }

                .botao:hover {
                    transform: scale(1.04);
                }

                    .saida_carro {
                    background-color: rgba(240, 237, 237, 0.801);
                    font-family: fantasy;
                    padding: 20px;
                    border-radius: 20px;
                }

                .botao_saida {
                  background-color: #000099;
                    font-family: fantasy;
                    color: white;
                    border: none;
                    padding: 10px;
                    font-size: 12px;
                    border-radius: 6px;
                    cursor: pointer;
                    margin-top: 15px;
                    margin-left: 150px;
                }

                .botao_saida:hover {
                    transform: scale(1.04);
                }
                
               .gerencia_carro {
                    background-color: rgba(240, 237, 237, 0.801);
                    font-family: fantasy;
                    padding: 20px;
                    border-radius: 20px;
                }
                
                .Excluir a {
                    color: #e60000; /* vermelho */
                    text-decoration: none;
                    font-weight: bold;
                }

                .Excluir a:visited {
                    color: #e60000; /* mantém vermelho mesmo depois de clicar */
                }

                .Excluir a:hover {
                    text-decoration: underline;
                }